framework: net461
source https://nuget.org/api/v2

# The setting below means your libraries will assume a minimum target of .NET 4.5 + F# 4.0.
#
# To increase the minimum assumed .NET Framework, change the TargetFrameworkVersion in the .fsproj project files.
#
# To increase the minimum assumed F# version to F# 4.1, change to 
#     nuget FSharp.Core ~> 4.1.0 redirects: force

nuget fparsec
nuget FSharp.Core ~> 4.0.0.1 redirects: force
nuget MahApps.Metro
nuget MahApps.Metro.IconPacks.Modern
nuget ReactiveUI
nuget Rx-Main = 2.2.5
nuget Rx-PlatformServices = 2.2.5

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2